pyTelegramBotAPI
python-dotenv
openpyxl
matplotlib
certifi
charset-normalizer
contourpy
cycler
et_xmlfile
fonttools
idna
kiwisolver
numpy
packaging
pillow
pip
pyparsing
python-dateutil
requests
six
urllib3